<div class="footer">
  <div class="container">  
    <div class="col-md-6 w3_footer_grid">
      <h3>Policy Info</h3>
      <ul class="w3_footer_grid_list">
        <li><a routerLink="/faqs">FAQ</a></li>
        <li><a routerLink="/privacy">Privacy policy</a></li>
      </ul>
    </div>    
    <div class="clearfix"> </div>
    <div class="agile_footer_grids">
      <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
        <div class="w3_footer_grid_bottom">
          <h4>100% secure payments</h4>
          <img src="assets/images/card.png" alt=" " class="img-responsive" />
        </div>
      </div>
      <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
        <div class="w3_footer_grid_bottom">
          <h5>Connect with us</h5>
          <ul class="agileits_social_icons">
            <li><a routerLink="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a routerLink="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a routerLink="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a routerLink="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a routerLink="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="wthree_footer_copy">
      <p>© 2020 New Grocery Store. All rights reserved | Designed by <a routerLink="">Mithun M</a></p>
    </div>
  </div>
</div>
